@keyframes fadeout {
    from {
      visibility: visible;
      opacity: 1;
    }
  
    99% {
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
  }

@keyframes fadein {
    from {
      
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
  }
  